body {
    background-color: darkblue;
    text-align: center;
    color: white;
    
}
h1 {
    font-size: 40pt;
}
h2 {
    font-size: 30pt;
}
h3 {
    font-size: 20pt;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: x-large;

}
th, td {
    border-style: solid;
}
th {
    font-weight: bold;
    font-variant: small-caps;
}
tr {
    text-align: center;

}

.boardRow button {
    /* I wanted to invisible buttons, which is why background needs to be the same as body background*/
    background-color: darkblue;
    border-style: none;
    outline-style: none;
    width: auto;
    height: auto;
}
.boardRow {
    margin: 10pt 10pt 10pt 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
}
.boardRow img {
    width: auto;
    height: auto;
}

#winnerDeclaration {
    /* changing height of this cell to prevent page from moving
    elements (particularly the game board) around when winnerDecelartion is updated.*/
    height: 70pt;
    border-style: none;
}